.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__shT0I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__shT0I {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__fXwQj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1224px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__fXwQj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fXwQj > :global(.__wab_flex-container) > *,
.freeBox__fXwQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fXwQj > :global(.__wab_flex-container) > picture > img,
.freeBox__fXwQj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fXwQj {
    display: flex;
    flex-direction: column;
    width: 541px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fXwQj > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fXwQj > :global(.__wab_flex-container) > *,
  .freeBox__fXwQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fXwQj > :global(.__wab_flex-container) > picture > img,
  .freeBox__fXwQj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___9SnfD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 593px;
  margin-top: 0px;
  margin-right: 6px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___9SnfD {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text__dnUv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 55px;
  color: #eeeeee80;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__dnUv9 {
    padding-top: 16px;
    width: auto;
    font-size: 18px;
    text-align: left;
    align-self: flex-start;
  }
}
.freeBox__ja1Vy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox__ja1Vy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ja1Vy {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ja1Vy > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ja1Vy > :global(.__wab_flex-container) > *,
  .freeBox__ja1Vy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ja1Vy > :global(.__wab_flex-container) > picture > img,
  .freeBox__ja1Vy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 16px;
  }
}
.button__bcgkX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__bcgkX:global(.__wab_instance) {
    height: 58px;
    align-self: auto;
    width: 100%;
    max-width: 340px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__ijNsa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___1Mocf {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__hCW7 {
  position: relative;
  object-fit: cover;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__hCW7 {
    color: #ffffff;
    margin-right: 0px;
    display: block;
  }
}
.button__qDl4B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__qDl4B:global(.__wab_instance) {
    margin-left: calc(0px + 20px) !important;
    max-width: 340px;
    width: 100%;
    height: 58px;
    min-width: 0;
    flex-shrink: 0;
    display: flex;
  }
}
.svg__kDJcS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uoYv4 {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__uoYv4 {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.svg__u3Xr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rrqB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__rrqB {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__wHsMe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xTD3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eaShA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rzyI5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__rzyI5:global(.__wab_instance) {
    display: none;
  }
}
.svg___0EIox {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xgrH4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__r65Ul {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___794Q4 {
  position: relative;
  object-fit: cover;
  margin-left: 76px;
  width: 100%;
  min-width: 661px;
}
.img___794Q4 > picture > img {
  object-fit: cover;
}
.img___794Q4 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___794Q4 {
    margin-top: 34px;
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
  }
}
.text__pKFl {
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-wLcjCNFZw4OQHp);
  color: var(--token-7JmVvNIIZiXfLo);
  font-size: 18px;
  padding-top: 90px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__pKFl {
    font-size: 16px;
    padding-top: 31px;
    text-align: center;
  }
}
.freeBox___0NWis {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  max-width: 1104px;
  width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox___0NWis > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox___0NWis > :global(.__wab_flex-container) > *,
.freeBox___0NWis > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0NWis > :global(.__wab_flex-container) > picture > img,
.freeBox___0NWis
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0NWis {
    width: 100%;
    max-width: var(--token-wLcjCNFZw4OQHp);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0NWis > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0NWis > :global(.__wab_flex-container) > *,
  .freeBox___0NWis > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0NWis > :global(.__wab_flex-container) > picture > img,
  .freeBox___0NWis
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img__iHYtf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__iHYtf > picture > img {
  object-fit: cover;
}
.img__iHYtf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__iHYtf {
    max-width: 170px;
  }
}
.img__fOz98 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__fOz98 > picture > img {
  object-fit: cover;
}
.img__fOz98 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__fOz98 {
    max-width: 170px;
  }
}
.img__cfec {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cfec > picture > img {
  object-fit: cover;
}
.img__cfec > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__cfec {
    max-width: 170px;
  }
}
.img__hozm7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__hozm7 > picture > img {
  object-fit: cover;
}
.img__hozm7 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__hozm7 {
    max-width: 170px;
  }
}
.img__mLuwx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img__mLuwx > picture > img {
  object-fit: cover;
}
.img__mLuwx > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ndMi6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img__ndMi6 > picture > img {
  object-fit: cover;
}
.img__ndMi6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vlzE {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img__vlzE > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img__vlzE > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: right center;
}
.diagramSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__gBcI4 {
  max-width: var(--token-wLcjCNFZw4OQHp);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__gBcI4 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.h2__qtqNl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__qtqNl {
    font-size: 28px;
  }
}
.text___4Yxsm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img__nxP3Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img__nxP3Y > picture > img {
  object-fit: cover;
}
.img__nxP3Y > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nxP3Y {
    max-width: 249px;
  }
}
.img__qz2P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__qz2P > picture > img {
  object-fit: cover;
}
.img__qz2P > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__qz2P {
    width: auto;
  }
}
.img__ht68A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ht68A > picture > img {
  object-fit: cover;
}
.img__ht68A > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ht68A {
    max-width: 50px;
  }
}
.img___0Zi67 {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img___0Zi67 > picture > img {
  object-fit: cover;
}
.img___0Zi67 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___0Zi67 {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox__tutdh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox__tutdh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__tutdh > :global(.__wab_flex-container) > *,
.freeBox__tutdh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tutdh > :global(.__wab_flex-container) > picture > img,
.freeBox__tutdh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tutdh {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tutdh > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tutdh > :global(.__wab_flex-container) > *,
  .freeBox__tutdh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tutdh > :global(.__wab_flex-container) > picture > img,
  .freeBox__tutdh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard__oaEbg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard__oaEbg:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__p9Blr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard___9KksG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__pImOf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox__pImOf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__pImOf > :global(.__wab_flex-container) > *,
.freeBox__pImOf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pImOf > :global(.__wab_flex-container) > picture > img,
.freeBox__pImOf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pImOf {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pImOf > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pImOf > :global(.__wab_flex-container) > *,
  .freeBox__pImOf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pImOf > :global(.__wab_flex-container) > picture > img,
  .freeBox__pImOf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__cMRl3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cMRl3 > picture > img {
  object-fit: cover;
}
.img__cMRl3 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__cMRl3 {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__h0Tva {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__h0Tva > picture > img {
  object-fit: cover;
}
.img__h0Tva > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__h0Tva {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__qUtmM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qUtmM > picture > img {
  object-fit: cover;
}
.img__qUtmM > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__qUtmM {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__y2JUl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__y2JUl > picture > img {
  object-fit: cover;
}
.img__y2JUl > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__y2JUl {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__nmLca {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__nmLca > picture > img {
  object-fit: cover;
}
.img__nmLca > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nmLca {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__jqm8L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jqm8L > picture > img {
  object-fit: cover;
}
.img__jqm8L > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__jqm8L {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__sYwmF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__sYwmF > picture > img {
  object-fit: cover;
}
.img__sYwmF > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__sYwmF {
    max-width: 72px;
    max-height: 72px;
  }
}
.h2__o7Bg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
  padding-top: 52px;
}
.text__muOPq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__muOPq {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__lDtkq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lDtkq {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.h2__habcy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-OOx0275L-pEZAQ);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__habcy {
    color: var(--token-OOx0275L-pEZAQ);
  }
}
.text__y1CgF {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
  color: #ffffff80;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__y1CgF {
    font-size: 16px;
    padding-top: 36px;
  }
}
.img___4XPJm {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img___4XPJm > picture > img {
  object-fit: cover;
}
.img___4XPJm > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___4XPJm {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__taSvz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__taSvz {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__d01EX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__d01EX > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__d01EX > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__d01EX > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__d01EX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__d01EX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___39ZL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___39ZL {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__foujH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__foujH > picture > img {
  object-fit: cover;
}
.img__foujH > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___77BWl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___77BWl {
    padding: 4px 0px;
  }
}
.img___5ODep {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img___5ODep > picture > img {
  object-fit: cover;
}
.img___5ODep > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__fg7Vh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__fg7Vh {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__n417A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__n417A > picture > img {
  object-fit: cover;
}
.img__n417A > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___8DmDv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns___8DmDv > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns___8DmDv > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns___8DmDv > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___8DmDv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___8DmDv > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zeDRk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__zeDRk {
    padding-right: 0px;
  }
}
.img__vhV95 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__vhV95 > picture > img {
  object-fit: cover;
}
.img__vhV95 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__tnEDv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__tnEDv {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__s9U7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__s9U7 > picture > img {
  object-fit: cover;
}
.img__s9U7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__cegt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__cegt {
    padding-left: 0px;
  }
}
.img___4BKg3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img___4BKg3 > picture > img {
  object-fit: cover;
}
.img___4BKg3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ojUMw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__ezwO9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__eEs76 {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__eEs76 {
    font-size: 16px;
  }
}
.button___8Unrr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___8Unrr:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__inhL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__uiJte {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg___2Ekv5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__zo6Cq {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__zo6Cq > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__zo6Cq > :global(.__wab_flex-container) > *,
.freeBox__zo6Cq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zo6Cq > :global(.__wab_flex-container) > picture > img,
.freeBox__zo6Cq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zo6Cq {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zo6Cq > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zo6Cq > :global(.__wab_flex-container) > *,
  .freeBox__zo6Cq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zo6Cq > :global(.__wab_flex-container) > picture > img,
  .freeBox__zo6Cq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__bgAiY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard___4H27T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__pkqtk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__pkqtk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pkqtk > :global(.__wab_flex-container) > *,
.freeBox__pkqtk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkqtk > :global(.__wab_flex-container) > picture > img,
.freeBox__pkqtk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pkqtk > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__pkqtk > :global(.__wab_flex-container) > *,
  .freeBox__pkqtk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pkqtk > :global(.__wab_flex-container) > picture > img,
  .freeBox__pkqtk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__kbLbA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard___3Is3A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__pI98 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2___0Icb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-OOx0275L-pEZAQ);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2___0Icb {
    padding-top: 18px;
  }
}
.freeBox__lTefu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lTefu {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__atWlP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__xoEs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__xoEs > picture > img {
  object-fit: cover;
}
.img__xoEs > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__xoEs {
    max-width: 339px;
  }
}
.freeBox__fHyvh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__pMb0V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-OOx0275L-pEZAQ);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__pMb0V {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__kX0UR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__kX0UR {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img__wd0KG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wd0KG > picture > img {
  object-fit: cover;
}
.img__wd0KG > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__uYdRm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__uYdRm {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__lN6QT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lN6QT {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__moF7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__moF7 > picture > img {
  object-fit: cover;
}
.img__moF7 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__moF7 {
    width: auto;
    align-self: flex-start;
  }
}
.text__uE3Us {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__uE3Us {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox___5YndD {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox___5YndD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5YndD {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5YndD > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5YndD > :global(.__wab_flex-container) > *,
  .freeBox___5YndD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5YndD > :global(.__wab_flex-container) > picture > img,
  .freeBox___5YndD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__gUKqn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout___0PWqt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__feuxX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__vHkKj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__vHkKj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vHkKj {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vHkKj > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vHkKj > :global(.__wab_flex-container) > *,
  .freeBox__vHkKj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vHkKj > :global(.__wab_flex-container) > picture > img,
  .freeBox__vHkKj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__faOna:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__oitaa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__qwPgH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__omDdi {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img__omDdi > picture > img {
  object-fit: cover;
}
.img__omDdi > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__omDdi {
    display: none !important;
  }
}
.img__mncQv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__mncQv > picture > img {
  object-fit: cover;
}
.img__mncQv > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__mncQv {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ixx5K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ixx5K {
    margin-bottom: 0px;
  }
}
.img__zvDcq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__zvDcq > picture > img {
  object-fit: cover;
}
.img__zvDcq > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__t04C {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__t04C > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__t04C > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__t04C {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__t04C > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hHaWx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__hHaWx {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-OOx0275L-pEZAQ);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__hTsGi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-OOx0275L-pEZAQ);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__hTsGi {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__abkBp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__abkBp {
    padding-bottom: 38px;
  }
}
.button__w557B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__w557B:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___6ELbl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__kjJuj {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__neDtH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__c3QMv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__jl3Ai {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns__jl3Ai > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.columns__jl3Ai > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__jl3Ai > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__jl3Ai > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 52px) * 4 / 12);
}
.columns__jl3Ai > :global(.__wab_flex-container) > *,
.columns__jl3Ai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jl3Ai > :global(.__wab_flex-container) > picture > img,
.columns__jl3Ai
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jl3Ai {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jl3Ai > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jl3Ai > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 52px) * 12 / 12);
  }
}
.column__mBief {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__dDs5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__yWwDz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__zzsxi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__zzsxi:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__aQxNl {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__yfbkR {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__yfbkR {
    top: 85px;
    font-size: 14px;
  }
}
.column__bl4Jb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__pgNyL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__pgNyL:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
