@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-wLcjCNFZw4OQHp: 1140px;
  --plasmic-token-content-max-width: var(--token-wLcjCNFZw4OQHp);
  --token-D4D4FpiqKwU4wF: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-D4D4FpiqKwU4wF);
  --token-BUVWgTuz9evifw: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-BUVWgTuz9evifw);
  --token-_C6xPuQT2askEa: #92959bd9;
  --plasmic-token-light-label: var(--token-_C6xPuQT2askEa);
  --token-R11DHKCDkh31A1: #05050599;
  --plasmic-token-light-secondary: var(--token-R11DHKCDkh31A1);
  --token-GUBjPaCfKGrlb2: #007aff;
  --plasmic-token-light-blue: var(--token-GUBjPaCfKGrlb2);
  --token-q_jWKqAl8pwhal: #ff3b30;
  --plasmic-token-light-red: var(--token-q_jWKqAl8pwhal);
  --token-OOx0275L-pEZAQ: #ffffff;
  --plasmic-token-white: var(--token-OOx0275L-pEZAQ);
  --token-gDh3duB2hf8GGD: #ffffffd9;
  --plasmic-token-dark-label: var(--token-gDh3duB2hf8GGD);
  --token-ZfUM9E_dLGSqjU: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-ZfUM9E_dLGSqjU);
  --token-O4tqnnFz3mjm0Y: #0000001a;
  --plasmic-token-light-quarternary: var(--token-O4tqnnFz3mjm0Y);
  --token-Rgb1ldrK8j5R4x: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-Rgb1ldrK8j5R4x);
  --token-00FEr2Qg59G5ja: #32d74b;
  --plasmic-token-dark-green: var(--token-00FEr2Qg59G5ja);
  --token-g1bEBBdfC07S7t: #0a84ff;
  --plasmic-token-dark-blue: var(--token-g1bEBBdfC07S7t);
  --token-OislKpBp_P6FlR: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-OislKpBp_P6FlR);
  --token-ge-1k75sucA_P6: #34c759;
  --plasmic-token-light-green: var(--token-ge-1k75sucA_P6);
  --token-bHe0K8zXodpNB1: #5856d6;
  --plasmic-token-light-indigo: var(--token-bHe0K8zXodpNB1);
  --token-F0sQuR3wWeT0AG: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-F0sQuR3wWeT0AG);
  --token-F0sQuR3wWeT0AG: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-F0sQuR3wWeT0AG);
  --token-MMKozLtmWDdfWp: 1240px;
  --plasmic-token-max-width-navbar: var(--token-MMKozLtmWDdfWp);
  --token-MMKozLtmWDdfWp: 1240px;
  --plasmic-token-max-width-navbar: var(--token-MMKozLtmWDdfWp);
  --token-7JmVvNIIZiXfLo: var(--token-GJUFNX9rDjsHQY);
  --plasmic-token-unnamed-style-token-2: var(--token-7JmVvNIIZiXfLo);
  --token-7JmVvNIIZiXfLo: var(--token-GJUFNX9rDjsHQY);
  --plasmic-token-unnamed-style-token-2: var(--token-7JmVvNIIZiXfLo);
  --token-GJUFNX9rDjsHQY: #eeeeee80;
  --plasmic-token-grey: var(--token-GJUFNX9rDjsHQY);
  --token-GJUFNX9rDjsHQY: #eeeeee80;
  --plasmic-token-grey: var(--token-GJUFNX9rDjsHQY);
}

.plasmic_default_styles {
  --mixin-xSUEQpTY42YO7v_font-family: "Montserrat";
  --mixin-xSUEQpTY42YO7v_font-size: 24px;
  --mixin-xSUEQpTY42YO7v_font-weight: 500;
  --mixin-xSUEQpTY42YO7v_font-style: normal;
  --mixin-xSUEQpTY42YO7v_color: #00000080;
  --mixin-xSUEQpTY42YO7v_text-align: left;
  --mixin-xSUEQpTY42YO7v_text-transform: none;
  --mixin-xSUEQpTY42YO7v_line-height: 1.5;
  --mixin-xSUEQpTY42YO7v_letter-spacing: normal;
  --mixin-xSUEQpTY42YO7v_white-space: pre-wrap;
  --mixin-xSUEQpTY42YO7v_user-select: text;
  --mixin-xSUEQpTY42YO7v_text-decoration-line: none;
  --mixin-xSUEQpTY42YO7v_text-overflow: clip;
  --mixin-5GxT8shW5bMOoK_white-space: pre-wrap;
  --mixin-kLTni3u3HnUEbf_font-family: "Montserrat";
  --mixin-kLTni3u3HnUEbf_color: #ffffff;
  --mixin-kLTni3u3HnUEbf_font-size: 72px;
  --mixin-kLTni3u3HnUEbf_font-weight: 700;
  --mixin-kLTni3u3HnUEbf_line-height: 88px;
  --mixin-kLTni3u3HnUEbf_white-space: pre-wrap;
  --mixin-TCmKe6fkY0tJWS_font-family: "Inter";
  --mixin-TCmKe6fkY0tJWS_color: #000000;
  --mixin-TCmKe6fkY0tJWS_font-size: 36px;
  --mixin-TCmKe6fkY0tJWS_font-weight: 700;
  --mixin-TCmKe6fkY0tJWS_line-height: 43px;
  --mixin-TCmKe6fkY0tJWS_text-align: center;
  --mixin-TCmKe6fkY0tJWS_white-space: pre-wrap;
  --mixin-gtCYTco9VrBqtM_font-family: "Inter";
  --mixin-gtCYTco9VrBqtM_color: #000000;
  --mixin-gtCYTco9VrBqtM_font-size: 24px;
  --mixin-gtCYTco9VrBqtM_font-weight: 600;
  --mixin-gtCYTco9VrBqtM_letter-spacing: -0.5px;
  --mixin-gtCYTco9VrBqtM_line-height: 1.3;
  --mixin-gtCYTco9VrBqtM_white-space: pre-wrap;
  --mixin-YW9UGOnzqI5U7Q_font-family: "Montserrat";
  --mixin-YW9UGOnzqI5U7Q_color: #185adb;
  --mixin-YW9UGOnzqI5U7Q_font-size: 24px;
  --mixin-YW9UGOnzqI5U7Q_font-weight: 700;
  --mixin-YW9UGOnzqI5U7Q_line-height: 29px;
  --mixin-YW9UGOnzqI5U7Q_text-align: center;
  --mixin-YW9UGOnzqI5U7Q_white-space: pre-wrap;
  --mixin-0LOPlKuWn3wYs__font-family: "Inter";
  --mixin-0LOPlKuWn3wYs__color: #000000;
  --mixin-0LOPlKuWn3wYs__font-size: 16px;
  --mixin-0LOPlKuWn3wYs__font-weight: 600;
  --mixin-0LOPlKuWn3wYs__line-height: 1.5;
  --mixin-0LOPlKuWn3wYs__white-space: pre-wrap;
  --mixin-fJdzNODxbylDJQ_border-left-color: #dddddd;
  --mixin-fJdzNODxbylDJQ_border-left-style: solid;
  --mixin-fJdzNODxbylDJQ_border-left-width: 3px;
  --mixin-fJdzNODxbylDJQ_color: #888888;
  --mixin-fJdzNODxbylDJQ_padding-left: 10px;
  --mixin-fJdzNODxbylDJQ_white-space: pre-wrap;
  --mixin-5Itsuh3QIi0Etc_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5Itsuh3QIi0Etc_border-bottom-color: #dddddd;
  --mixin-5Itsuh3QIi0Etc_border-bottom-style: solid;
  --mixin-5Itsuh3QIi0Etc_border-bottom-width: 1px;
  --mixin-5Itsuh3QIi0Etc_border-left-color: #dddddd;
  --mixin-5Itsuh3QIi0Etc_border-left-style: solid;
  --mixin-5Itsuh3QIi0Etc_border-left-width: 1px;
  --mixin-5Itsuh3QIi0Etc_border-right-color: #dddddd;
  --mixin-5Itsuh3QIi0Etc_border-right-style: solid;
  --mixin-5Itsuh3QIi0Etc_border-right-width: 1px;
  --mixin-5Itsuh3QIi0Etc_border-top-color: #dddddd;
  --mixin-5Itsuh3QIi0Etc_border-top-style: solid;
  --mixin-5Itsuh3QIi0Etc_border-top-width: 1px;
  --mixin-5Itsuh3QIi0Etc_border-bottom-left-radius: 3px;
  --mixin-5Itsuh3QIi0Etc_border-bottom-right-radius: 3px;
  --mixin-5Itsuh3QIi0Etc_border-top-left-radius: 3px;
  --mixin-5Itsuh3QIi0Etc_border-top-right-radius: 3px;
  --mixin-5Itsuh3QIi0Etc_font-family: "Inconsolata";
  --mixin-5Itsuh3QIi0Etc_padding-bottom: 1px;
  --mixin-5Itsuh3QIi0Etc_padding-left: 4px;
  --mixin-5Itsuh3QIi0Etc_padding-right: 4px;
  --mixin-5Itsuh3QIi0Etc_padding-top: 1px;
  --mixin-5Itsuh3QIi0Etc_white-space: pre-wrap;
  --mixin-Z8PLD-RST6_Q84_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Z8PLD-RST6_Q84_border-bottom-color: #dddddd;
  --mixin-Z8PLD-RST6_Q84_border-bottom-style: solid;
  --mixin-Z8PLD-RST6_Q84_border-bottom-width: 1px;
  --mixin-Z8PLD-RST6_Q84_border-left-color: #dddddd;
  --mixin-Z8PLD-RST6_Q84_border-left-style: solid;
  --mixin-Z8PLD-RST6_Q84_border-left-width: 1px;
  --mixin-Z8PLD-RST6_Q84_border-right-color: #dddddd;
  --mixin-Z8PLD-RST6_Q84_border-right-style: solid;
  --mixin-Z8PLD-RST6_Q84_border-right-width: 1px;
  --mixin-Z8PLD-RST6_Q84_border-top-color: #dddddd;
  --mixin-Z8PLD-RST6_Q84_border-top-style: solid;
  --mixin-Z8PLD-RST6_Q84_border-top-width: 1px;
  --mixin-Z8PLD-RST6_Q84_border-bottom-left-radius: 3px;
  --mixin-Z8PLD-RST6_Q84_border-bottom-right-radius: 3px;
  --mixin-Z8PLD-RST6_Q84_border-top-left-radius: 3px;
  --mixin-Z8PLD-RST6_Q84_border-top-right-radius: 3px;
  --mixin-Z8PLD-RST6_Q84_font-family: "Inconsolata";
  --mixin-Z8PLD-RST6_Q84_padding-bottom: 3px;
  --mixin-Z8PLD-RST6_Q84_padding-left: 6px;
  --mixin-Z8PLD-RST6_Q84_padding-right: 6px;
  --mixin-Z8PLD-RST6_Q84_padding-top: 3px;
  --mixin-Z8PLD-RST6_Q84_white-space: pre-wrap;
  --mixin-xFyVhr9628bbiN_display: flex;
  --mixin-xFyVhr9628bbiN_flex-direction: column;
  --mixin-xFyVhr9628bbiN_align-items: stretch;
  --mixin-xFyVhr9628bbiN_justify-content: flex-start;
  --mixin-xFyVhr9628bbiN_list-style-position: outside;
  --mixin-xFyVhr9628bbiN_padding-left: 40px;
  --mixin-xFyVhr9628bbiN_position: relative;
  --mixin-xFyVhr9628bbiN_list-style-type: decimal;
  --mixin-xFyVhr9628bbiN_white-space: pre-wrap;
  --mixin-d1B_-H9LC0U-xz_display: flex;
  --mixin-d1B_-H9LC0U-xz_flex-direction: column;
  --mixin-d1B_-H9LC0U-xz_align-items: stretch;
  --mixin-d1B_-H9LC0U-xz_justify-content: flex-start;
  --mixin-d1B_-H9LC0U-xz_list-style-position: outside;
  --mixin-d1B_-H9LC0U-xz_padding-left: 40px;
  --mixin-d1B_-H9LC0U-xz_position: relative;
  --mixin-d1B_-H9LC0U-xz_list-style-type: disc;
  --mixin-d1B_-H9LC0U-xz_white-space: pre-wrap;
  --mixin-B1_bVM0mxmSfZi_color: #000000;
  --mixin-B1_bVM0mxmSfZi_font-family: "Montserrat";
  --mixin-B1_bVM0mxmSfZi_font-size: 64px;
  --mixin-B1_bVM0mxmSfZi_font-weight: 700;
  --mixin-B1_bVM0mxmSfZi_line-height: 78px;
  --mixin-B1_bVM0mxmSfZi_text-align: center;
  --mixin-B1_bVM0mxmSfZi_white-space: pre-wrap;
  --mixin-97jqgwy4eOXl-k_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-xSUEQpTY42YO7v_font-size: 16px;
    --mixin-xSUEQpTY42YO7v_line-height: 27px;
    --mixin-xSUEQpTY42YO7v_white-space: pre-wrap;
    --mixin-kLTni3u3HnUEbf_font-size: 40px;
    --mixin-kLTni3u3HnUEbf_line-height: 48px;
    --mixin-kLTni3u3HnUEbf_white-space: pre-wrap;
    --mixin-B1_bVM0mxmSfZi_font-size: 28px;
    --mixin-B1_bVM0mxmSfZi_line-height: 34px;
    --mixin-B1_bVM0mxmSfZi_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-LlTrTNEUn5c_RZ_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-LlTrTNEUn5c_RZ_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-xSUEQpTY42YO7v_font-family);
  font-size: var(--mixin-xSUEQpTY42YO7v_font-size);
  font-weight: var(--mixin-xSUEQpTY42YO7v_font-weight);
  font-style: var(--mixin-xSUEQpTY42YO7v_font-style);
  color: var(--mixin-xSUEQpTY42YO7v_color);
  text-align: var(--mixin-xSUEQpTY42YO7v_text-align);
  text-transform: var(--mixin-xSUEQpTY42YO7v_text-transform);
  line-height: var(--mixin-xSUEQpTY42YO7v_line-height);
  letter-spacing: var(--mixin-xSUEQpTY42YO7v_letter-spacing);
  white-space: var(--mixin-xSUEQpTY42YO7v_white-space);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-kLTni3u3HnUEbf_font-family);
  color: var(--mixin-kLTni3u3HnUEbf_color);
  font-size: var(--mixin-kLTni3u3HnUEbf_font-size);
  font-weight: var(--mixin-kLTni3u3HnUEbf_font-weight);
  line-height: var(--mixin-kLTni3u3HnUEbf_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-TCmKe6fkY0tJWS_font-family);
  color: var(--mixin-TCmKe6fkY0tJWS_color);
  font-size: var(--mixin-TCmKe6fkY0tJWS_font-size);
  font-weight: var(--mixin-TCmKe6fkY0tJWS_font-weight);
  line-height: var(--mixin-TCmKe6fkY0tJWS_line-height);
  text-align: var(--mixin-TCmKe6fkY0tJWS_text-align);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-gtCYTco9VrBqtM_font-family);
  color: var(--mixin-gtCYTco9VrBqtM_color);
  font-size: var(--mixin-gtCYTco9VrBqtM_font-size);
  font-weight: var(--mixin-gtCYTco9VrBqtM_font-weight);
  letter-spacing: var(--mixin-gtCYTco9VrBqtM_letter-spacing);
  line-height: var(--mixin-gtCYTco9VrBqtM_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-YW9UGOnzqI5U7Q_font-family);
  color: var(--mixin-YW9UGOnzqI5U7Q_color);
  font-size: var(--mixin-YW9UGOnzqI5U7Q_font-size);
  font-weight: var(--mixin-YW9UGOnzqI5U7Q_font-weight);
  line-height: var(--mixin-YW9UGOnzqI5U7Q_line-height);
  text-align: var(--mixin-YW9UGOnzqI5U7Q_text-align);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-0LOPlKuWn3wYs__font-family);
  color: var(--mixin-0LOPlKuWn3wYs__color);
  font-size: var(--mixin-0LOPlKuWn3wYs__font-size);
  font-weight: var(--mixin-0LOPlKuWn3wYs__font-weight);
  line-height: var(--mixin-0LOPlKuWn3wYs__line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-fJdzNODxbylDJQ_color);
  padding-left: var(--mixin-fJdzNODxbylDJQ_padding-left);
  border-left: var(--mixin-fJdzNODxbylDJQ_border-left-width)
    var(--mixin-fJdzNODxbylDJQ_border-left-style)
    var(--mixin-fJdzNODxbylDJQ_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-5Itsuh3QIi0Etc_background);
  font-family: var(--mixin-5Itsuh3QIi0Etc_font-family);
  border-radius: var(--mixin-5Itsuh3QIi0Etc_border-top-left-radius)
    var(--mixin-5Itsuh3QIi0Etc_border-top-right-radius)
    var(--mixin-5Itsuh3QIi0Etc_border-bottom-right-radius)
    var(--mixin-5Itsuh3QIi0Etc_border-bottom-left-radius);
  padding: var(--mixin-5Itsuh3QIi0Etc_padding-top)
    var(--mixin-5Itsuh3QIi0Etc_padding-right)
    var(--mixin-5Itsuh3QIi0Etc_padding-bottom)
    var(--mixin-5Itsuh3QIi0Etc_padding-left);
  border-top: var(--mixin-5Itsuh3QIi0Etc_border-top-width)
    var(--mixin-5Itsuh3QIi0Etc_border-top-style)
    var(--mixin-5Itsuh3QIi0Etc_border-top-color);
  border-right: var(--mixin-5Itsuh3QIi0Etc_border-right-width)
    var(--mixin-5Itsuh3QIi0Etc_border-right-style)
    var(--mixin-5Itsuh3QIi0Etc_border-right-color);
  border-bottom: var(--mixin-5Itsuh3QIi0Etc_border-bottom-width)
    var(--mixin-5Itsuh3QIi0Etc_border-bottom-style)
    var(--mixin-5Itsuh3QIi0Etc_border-bottom-color);
  border-left: var(--mixin-5Itsuh3QIi0Etc_border-left-width)
    var(--mixin-5Itsuh3QIi0Etc_border-left-style)
    var(--mixin-5Itsuh3QIi0Etc_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-Z8PLD-RST6_Q84_background);
  font-family: var(--mixin-Z8PLD-RST6_Q84_font-family);
  border-radius: var(--mixin-Z8PLD-RST6_Q84_border-top-left-radius)
    var(--mixin-Z8PLD-RST6_Q84_border-top-right-radius)
    var(--mixin-Z8PLD-RST6_Q84_border-bottom-right-radius)
    var(--mixin-Z8PLD-RST6_Q84_border-bottom-left-radius);
  padding: var(--mixin-Z8PLD-RST6_Q84_padding-top)
    var(--mixin-Z8PLD-RST6_Q84_padding-right)
    var(--mixin-Z8PLD-RST6_Q84_padding-bottom)
    var(--mixin-Z8PLD-RST6_Q84_padding-left);
  border-top: var(--mixin-Z8PLD-RST6_Q84_border-top-width)
    var(--mixin-Z8PLD-RST6_Q84_border-top-style)
    var(--mixin-Z8PLD-RST6_Q84_border-top-color);
  border-right: var(--mixin-Z8PLD-RST6_Q84_border-right-width)
    var(--mixin-Z8PLD-RST6_Q84_border-right-style)
    var(--mixin-Z8PLD-RST6_Q84_border-right-color);
  border-bottom: var(--mixin-Z8PLD-RST6_Q84_border-bottom-width)
    var(--mixin-Z8PLD-RST6_Q84_border-bottom-style)
    var(--mixin-Z8PLD-RST6_Q84_border-bottom-color);
  border-left: var(--mixin-Z8PLD-RST6_Q84_border-left-width)
    var(--mixin-Z8PLD-RST6_Q84_border-left-style)
    var(--mixin-Z8PLD-RST6_Q84_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-xFyVhr9628bbiN_display);
  flex-direction: var(--mixin-xFyVhr9628bbiN_flex-direction);
  align-items: var(--mixin-xFyVhr9628bbiN_align-items);
  justify-content: var(--mixin-xFyVhr9628bbiN_justify-content);
  list-style-position: var(--mixin-xFyVhr9628bbiN_list-style-position);
  padding-left: var(--mixin-xFyVhr9628bbiN_padding-left);
  position: var(--mixin-xFyVhr9628bbiN_position);
  list-style-type: var(--mixin-xFyVhr9628bbiN_list-style-type);
  flex-column-gap: var(--mixin-xFyVhr9628bbiN_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-d1B_-H9LC0U-xz_display);
  flex-direction: var(--mixin-d1B_-H9LC0U-xz_flex-direction);
  align-items: var(--mixin-d1B_-H9LC0U-xz_align-items);
  justify-content: var(--mixin-d1B_-H9LC0U-xz_justify-content);
  list-style-position: var(--mixin-d1B_-H9LC0U-xz_list-style-position);
  padding-left: var(--mixin-d1B_-H9LC0U-xz_padding-left);
  position: var(--mixin-d1B_-H9LC0U-xz_position);
  list-style-type: var(--mixin-d1B_-H9LC0U-xz_list-style-type);
  flex-column-gap: var(--mixin-d1B_-H9LC0U-xz_flex-column-gap);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-B1_bVM0mxmSfZi_color);
  font-family: var(--mixin-B1_bVM0mxmSfZi_font-family);
  font-size: var(--mixin-B1_bVM0mxmSfZi_font-size);
  font-weight: var(--mixin-B1_bVM0mxmSfZi_font-weight);
  line-height: var(--mixin-B1_bVM0mxmSfZi_line-height);
  text-align: var(--mixin-B1_bVM0mxmSfZi_text-align);
}

:where(.root_reset .plasmic_default__h2:hover),
:where(.root_reset .h2:hover),
:where(.root_reset .__wab_expr_html_text h2:hover),
:where(.root_reset.plasmic_default__h2:hover) {
}
