.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding: 32px;
  }
}
.freeBox__dNxmK {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-MMKozLtmWDdfWp);
  padding-top: 52px;
  padding-bottom: 52px;
  height: 100%;
  max-height: 154px;
  min-width: 0;
  min-height: 0;
}
.freeBox__dNxmK > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dNxmK > :global(.__wab_flex-container) > *,
.freeBox__dNxmK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dNxmK > :global(.__wab_flex-container) > picture > img,
.freeBox__dNxmK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dNxmK {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dNxmK > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__dNxmK > :global(.__wab_flex-container) > *,
  .freeBox__dNxmK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dNxmK > :global(.__wab_flex-container) > picture > img,
  .freeBox__dNxmK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.logo:global(.__wab_instance) {
  display: flex;
}
.freeBox__r8L3A {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__r8L3A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__r8L3A > :global(.__wab_flex-container) > *,
.freeBox__r8L3A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r8L3A > :global(.__wab_flex-container) > picture > img,
.freeBox__r8L3A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r8L3A > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r8L3A > :global(.__wab_flex-container) > *,
  .freeBox__r8L3A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r8L3A > :global(.__wab_flex-container) > picture > img,
  .freeBox__r8L3A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__nFjW2:global(.__wab_instance) {
  position: relative;
}
.svg__qLs5U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iLlTo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tcjV:global(.__wab_instance) {
  position: relative;
}
.svg__zlKct {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__oVaRp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4QTfU:global(.__wab_instance) {
  position: relative;
}
.svg__d2K2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bd2Yz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__r54B:global(.__wab_instance) {
  position: relative;
}
.svg__b7IiW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lJneC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__dZQt2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__lhUYq:global(.__wab_instance) {
  position: relative;
}
.svg__o3KtH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qq9G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__g5RU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cbUtn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__iz5CD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
